
.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link {
    background-color: #008db1;
}

body.theme-dark .sidebar-wrapper .menu .sidebar-item.active>.sidebar-link {
    background-color: #008db1;
}

#main-content, .page-heading {
    flex-grow: 0;
}

.form-check{
    padding-left:0;
}

.upload-form .progress {
  height: 20px;
  border-radius: 4px;
  margin: 10px 0;
  background-color: #e6e8ec;
}
.upload-form button {
  appearance: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  padding: 10px 12px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.upload-form button:disabled {
  background-color: #aca7a5;
}
.upload-form .result {
  padding-top: 15px;
}

.sidebar-wrapper .sidebar-header img {
  height: 2.5rem;
  margin-right:0.5em;
}

.sidebar-wrapper .sidebar-header  {
  font-size:1.2rem;
}